@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face{
    font-family: "SafirScript";
    src: url("../fonts/SafirScript.ttf") format("truetype");
  }




/*------------------SiteWide------------------*/

* {
    box-sizing: border-box; /*Allow content box to shrink to accomadate padding and borders*/
}

body {
    margin: 0;
    background: radial-gradient(#a9d8da, #0ecaf0);
}

.main-header {
    font-family: SafirScript;
    font-size: 9vw;
    text-align: center;
    padding-top: 20px;
    color: red;
    text-shadow:
    3px 3px 0 #000, 
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

html {
    min-height: 100vh;
}

h1 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-family: inherit;
    font-size: 3.5vw;
    margin-bottom: .2rem;
    font-weight: 400;
    margin-top: 0;
}

#special-spacing {
    letter-spacing: 1.9vw;
    position: relative;
    left: 1.3vw;
}

/*------------------Overlays------------------*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    font-family: 'Dela Gothic One', cursive;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay h1 {
    font-size: 1em;
}

.overlay h3 {

}

.game-over {
    display: none;
}

.you-win {
    display: none;
}

.overlay.visible {
    display: flex;
    animation: grow 900ms forwards;
}

@keyframes grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 8vw;
        background-color: rgba(0, 0, 0, .5);
    }
}

/*------------------Grid Layout------------------*/


.game-wrapper {
    display: none;  /*target this in .js and change to 'grid' to display game*/
    grid-template-columns: repeat(int, auto); /*target and change this to set dificulty level*/
    grid-gap: 10px;
    margin: 30px;
    justify-content: center;
    perspective: 900px; /*this assumes the distance from the screen to the user*/
}


.game-info {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    font-family: 'Dela Gothic One', cursive;
}


/*------------------Links------------------*/

a {
    color: inherit !important;
    text-decoration: none;

}

a:hover {
    color: inherit;
    text-decoration: none !important;    
}

/*------------------Buttons------------------*/

button {
    border-radius: 4px;
    font-family: 'Dela Gothic One', cursive;
    cursor: pointer;

    
}

button:hover {

    border-style: inset;
}

button:focus {
    outline: none;

}

.game-controls {
    text-align: center;
    padding-top: 10px;
}

/*------------------Cards------------------*/

.card-wrapper {
    
    position: relative;
    height: 115px;
    width: 115px;    
    
}

.card-wrapper:hover {
    cursor: pointer;
}

.card-wrapper.flipped .card-back {
    transform: rotateY(-180deg);
}

.card-wrapper.flipped .card-front {
    transform: rotateY(0deg);
}

.card {
    position: absolute;
    border-radius: 11px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 450ms ease-in-out;
    

}

.card-back {
    position: absolute;
    background-color: blue;
 
}

.card-front {
    position: absolute;
    transform: rotateY(180deg);
    background-color: white;

}

.back-image {                     /*washingmachine*/
    position: absolute;
    width: auto;
    height: 90%;

}

.front-image {                    /*socks*/
    position: absolute;
    width: auto;
    height: 90%;
}

/*------------------Media Queries------------------*/

/* On screens that are 992px wide or less*/
@media screen and (min-width: 992px) {
        .main-header{
            font-size: 72px;
        }
  }

/* On screens that are 767px wide or less*/
@media screen and (max-width: 767px) {

}

/* On screens that are 767px wide or less*/
@media screen and (max-width: 576px) {

  .card-wrapper {
    height: 75px;
    width: 75px;
}
.card-wrapper.small {
    height: 50px;
    width: 50px;
}

}
